@import url('https://fonts.googleapis.com/css2?family=Lora&family=Playfair+Display&display=swap');

/* ROOT VARIABLES */
:root {
    --color-primary: #1e293b;
    --color-secondary: #334155;
    --color-accent: #3b82f6;
    --color-accent2: #f59e0b;
    --color-light: #f8fafc;
    --color-gray: #64748b;
    --color-dark: #0f172a;
    --font-body: 'Lora', serif;;
    --font-heading: 'Playfair Display', serif;
    --space-sm: 0.5rem;
    --space-md: 1.5rem;
    --space-lg: 3rem;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}